$white: #fff;
$black: #000;
$muted: #5E6F7B;
$barelyWhite: #e0e7ec;

$twitterBlue30: #085c91;
$twitterBlue40: #0b7bc1;
$twitterBlue50: #0e9af1;
$twitterBlue53: #1da1f2;
$twitterBlue60: #3eaef4;
$twitterBlue70: #6ec2f7;

$red50: #f91880;

$twitterBlue: $twitterBlue53;
